.postPageContainer {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.5rem;
}

.postPageContainer .title {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 2rem;
}


.postPageContainer .info .author {
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

.postPageContainer .info .separator {
    margin-left: .5rem;
    margin-right: .5rem;
}
.postPageContainer .tags {
    margin-top: .875rem;
}

.postPageContainer .createdDate{
    color: gray;
}

.postPageContainer .body {
    margin-top: 5rem;
}